<p-toolbar>
    <div class="ui-toolbar-group-left">
        <h2>Resumo Mensal</h2>
    </div>

    <div class="ui-toolbar-group-right">
        <h4>
            <p-calendar [showIcon]="true" [locale]="pt" dateFormat="mm/yy" [inputStyle]="{ width: '250px'}" name="dataLancamento"
             view="month" [yearNavigator]="true" yearRange="2000:2130"
            [(ngModel)]="filtro.dataLancamento" (onSelect)="pesquisar()">
            </p-calendar>
            <span style="margin-left:35px" pTooltip="Pesquisar"></span>

            <button pButton type="button" icon="pi pi-refresh" (click)="limpar()" styleClass="my-calendar"
            class="ui-button-secondary" pTooltip="Limpar" tooltipPosition="top">
            </button>

        </h4>
    </div>
</p-toolbar>

<br />

<div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-lg-4" *ngIf="sococo">
        <p-panel styleClass="panel-soc">
            <p-header>
                Produção Sococo
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-10">
                        <tr>
                            <th>Cocos Desfibrados</th>
                        </tr>
                        <tr>
                            <th>Cocos Processados</th>
                        </tr>
                        <tr>
                            <th>Cri</th>
                        </tr>
                        <tr>
                            <th>Flococo</th>
                        </tr>
                        <tr>
                            <th>Óleo Ind. Tipo A</th>
                        </tr>
                        <tr>
                            <th>Óleo Ind. ETE</th>
                        </tr>
                        <tr>
                            <th>Torta</th>
                        </tr>

                    </div>
                    <div class="ui-g-2">
                        <tr>
                            <th>{{sococo.coco_desfibrado ? sococo.coco_desfibrado : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.coco_processado ? sococo.coco_processado : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.cri ? sococo.cri : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.flococo ? sococo.flococo : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.oleo_ind_a ? sococo.oleo_ind_a : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.oleo_ind_ete ? sococo.oleo_ind_ete : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{sococo.torta ? sococo.torta : "0"}}</th>
                        </tr>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-4" *ngIf="acqua">
        <p-panel styleClass="panel-acq">
            <p-header>
                Produção Acqua
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-10">
                        <tr>
                            <th>Água de Coco Sococo</th>
                        </tr>
                        <tr>
                            <th>Água de Coco Verde</th>
                        </tr>
                        <tr>
                            <th>% Coco Germinado</th>
                        </tr>
                        <tr>
                            <th>Total de Caçambas</th>
                        </tr>
                        <tr>
                            <th>Caixa Padrão</th>
                        </tr>
                    </div>
                    <div class="ui-g-2">
                        <tr>
                            <th>{{acqua.agua_coco_sococo ? acqua.agua_coco_sococo : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{acqua.agua_coco_verde ? acqua.agua_coco_verde : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{acqua.porcentagem_coco_germinado ? acqua.porcentagem_coco_germinado : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{acqua.total_cacambas ? acqua.total_cacambas : "0"}}</th>
                        </tr>
                        <tr>
                            <th>{{acqua.caixa_padrao ? acqua.caixa_padrao : "0"}}</th>
                        </tr>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-4" *ngIf="amafibra">
        <p-panel styleClass="panel-ama">
            <p-header>
                Produção Amafibra
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-10">
                        <tr>
                            <th>Nº de fardos</th>
                        </tr>
                    </div>
                    <div class="ui-g-2">
                        <tr>
                            <th>{{amafibra.numero_fardos ? amafibra.numero_fardos : "0"}}</th>
                        </tr>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>