<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">SOCOCO</li>
    
    <li class="navbar-menuitem" [routerLink]="['/']">
      <a>Dashboad</a>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" routerLink="/resumo">
      <a>Lançamentos Diários</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" routerLink="/cadastro">
      <a>Cadastro Diario</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" routerLink="/pesquisa">
      <a>Lista Diária</a>
    </li>
    
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
