<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">SOCOCO</li>
    
    <li class="navbar-menuitem" [routerLink]="['/']">
      <button pButton type="button" label="Dashboad" tyleClass="menu-lac"></button>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" >
      <p-splitButton label="Lançamentos" [model]="items" styleClass="menu-lac"></p-splitButton>

    </li>
    <li class="navbar-menuitem">
      <p-splitButton label="Cadastro" [model]="items_cad" styleClass="menu-lac"></p-splitButton>
    </li>
    <li class="navbar-menuitem" routerLink="/pesquisa">
      <button pButton type="button" label="Lista Diária" tyleClass="menu-lac"></button>
    </li>
    
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
