<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}">
  <ul class="layout-menu" (click)="app.hideMobileMenu($event)">
    <li>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-globe"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/cadastro']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-check"></i>
        <span>Cadastro</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/resumo-diario']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-table"></i>
        <span>Resumo Diário</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/resumo-mensal']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-columns"></i>
        <span>Resumo Mensal</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/pesquisa']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-window-maximize"></i>
        <span>Lista lançamentos</span>
      </a>
      
    </li>
    
    <li>
      <a [routerLink]="['/logout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-gear"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>

  <a href="#" class="unlock-btn">
    <i class="fa fa-unlock"></i>
    <span>Jairo Nascimento</span>
  </a>
</div>
