.cri {
    width: 60px;
}

.torta {
    width: 50px;
}

.caixa {
    width: 70px;
}

.oleo {
    width: 90px;
}

/* @media screen and (max-width: 720px) {
    .data {
        width: 50px;
        font-size: 10px;
    } 

} */