<div class="loader" *ngIf="loader">
  <p-progressSpinner [style]="{width: '80px', height: '80px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="1.5s"></p-progressSpinner>
</div>


<p-toolbar>
  <div class="ui-toolbar-group-left">
    <h2>Lancamentos</h2>
  </div>

  <div class="ui-toolbar-group-right">
    <h4>
      <p-calendar [showIcon]="true" [locale]="pt" dateFormat="dd/mm/yy" [inputStyle]="{ width: '200px'}" name="dataLancamento"
        [(ngModel)]="filtro.dataLancamento" (onSelect)="pesquisar()">
      </p-calendar>
      <span style="margin-left:35px" pTooltip="Pesquisar"></span>

      <button pButton type="button" icon="pi pi-refresh" (click)="limpar()" styleClass="my-calendar" class="ui-button-secondary"
        pTooltip="Limpar" tooltipPosition="top">
      </button>

    </h4>
  </div>
</p-toolbar>

<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="lancamentos" [paginator]="true" [rows]="10" responsive="true"
    styleClass="tabela">

      <ng-template pTemplate="caption">
        Listagem de Lançamentos Diários
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="col-data">Data</th>
          <th class="col-data">Coco Processados</th>
          <th class="col-data">Coco Desfibrados</th>
          <th class="col-data cri">CRI</th>
          <th class="col-data caixa">Flococo</th>
          <th class="col-data oleo">Óleo Ind. A</th>
          <th class="col-data oleo">Óleo Ind. ETE</th>
          <th class="col-data torta">Torta</th>
          <th class="col-data">Água Coco</th>
          <th class="col-data">Água Coco Verde</th>
          <th class="col-data">% Coco Germinado.</th>
          <th class="col-data">Total Caçambas</th>
          <th class="col-data caixa">Caixa Padrão</th>
          <th class="col-data caixa">N°. Fardos</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-resumo>
        <tr>
          <td class="col-data">
            <span class="ui-column-title">Data</span>
            {{ resumo.dataLancamento | date:'dd/MM/yyyy' }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Coco Processados</span>
            {{ resumo.cocosProcessados }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Coco Processados</span>
            {{ resumo.cocosDesfibrados }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">CRI</span>
            {{ resumo.cri }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">flococo</span>
            {{ resumo.flococo }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Óleo Ind. A</span>
            {{ resumo.oleoIndustrialTipoA }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Óleo Ind. ETE</span>
            {{ resumo.oleoIndustrialETE }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Torta</span>
            {{ resumo.torta }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Água Coco</span>
            {{ resumo.aguaDeCocoSococo }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Água Coco Verde</span>
            {{ resumo.aguaDeCocoVerde }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">% Coco Germinado.</span>
            {{ resumo.porcentagemCocoGerminado }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Total Caçambas</span>
            {{ resumo.totalDeCacambas }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">Caixa Padrão</span>
            {{ resumo.caixaPadrao }}
          </td>

          <td class="col-data">
            <span class="ui-column-title">N° Fardos</span>
            {{ resumo.numeroDeFardos }}
          </td>

        </tr>
      </ng-template>

    </p-table>


  </div>
</div>